<h1>剪切头像</h1>
<div class="crop-vavatar-container">
    <div class="crop-vavatar">
        <%= form_for @user,url: crop_user_path(@user),html:{multipart:true,id: "crop_user_#{@user.id}"} do |f| %>
        <% if @user.avatar.url() %>
            <p>
                <%= image_tag @user.avatar.url(),width:300,high:300%>
            </p>
        <% end %>
        <%= f.file_field :avatar %>
        <%= f.submit '上传',class: "btn btn-large btn-primary"%>
        <% end %>
    </div>
</div>
